/* style.css */

/* color scheme https://coolors.co/ff5e5b-011638-d8d8d8-58a4b0-fff25a */

/*
** container **
**********************************
*/

body {
  font-family: 'Roboto', sans-serif;
  color: #011638;
} 

#app {
  width: 100%;
}

/*
** header **
**********************************
*/

#app > h1 {
	/*background-color: #d8d8d8;*/
	/*background-color: #44AF69;*/
    font-size: 3em;
    background-color: #58a4b0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-bottom: 4px solid black;
}

/*
** projects **
**********************************
*/

#projects {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 2px solid black;
}

.project {
  padding: 15px;
  padding-bottom: 5px;
  padding-top: 10px;
  font-weight: bold;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  transition-property:background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.project:hover {
	background-color: #d8d8d8;
	cursor: pointer;
}

.project[data-selected=true]{
  border-bottom: 2px solid #FF5E5B;
}

#add-project {
	padding-top: 8px;
}

/*
** board **
**********************************
*/

#board {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/*
** lanes **
**********************************
*/

#lanes {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.lane {
  border-left: 1px solid black;
  border-top: 0px;
}

.lane#DOING{
	flex-grow: 3;
}

.lane#DONE, .lane#TODO{
	flex-grow: 0;
}

.lane:first-child {
  border-left: 0px;
}

.lane > h2 {
  border-bottom: 1px solid black;
  margin: 0px;
  padding: 3px;
  padding-left: 10px;
}

/*
** tasks **
**********************************
*/

.tasks {
	display: flex;
	flex-flow: row wrap;
}

.task {
	display: flex;
	flex-direction: column;
	margin: 10px;
	padding: 10px;
	background-color: #FFF25A;
	width: 200px;
	height: 200px;
}

.subtask {
	display: flex;
	flex-direction: row;
}

.subtask > input {
	appearance: none;
    margin-right: 10px;
}

/*
** SPINNER 
**********************************
*/

.spinner {
  margin: 0px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 12px;
  height: 12px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/*
** PLUS SIGN
*********************/

.circle {
  border-radius: 3px;
  width: 20px;
  height: 20px;
  background-color: #58a4b0;
  position: relative;
}

.bar {
  margin: 0 auto;
  position: absolute;
  background-color: #011638;
}

.horizontal {
  width: 70%;
  height: 20%;
  left: 15%;
  top: 40%;
}

.vertical {
  width: 20%;
  height: 70%;
  left: 40%;
  top: 15%;
}

/***********************/

